.page-header {
  display: flex;
  justify-content: center;
}

.github-profile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
  width: 12rem;
}

.github-icon {
  height: 1.5rem;
  margin-top: 2rem;
  margin-right: 0.2rem;
}

.info {
 display: inline-block;
 margin-left: 1rem;   
}

.card-list {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.inputForm {
  padding: 2rem;
  border: 1px solid gray;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
}

.add-button {
  margin-left: 0.5rem;
}

.name {
  font-weight: bolder;
  font-size: larger;
}